<!DOCTYPE  html>
<html>
<head>
	<meta charset='utf-8'>
	<title>
		test1
	</title>
</head>
<body>
	<h1>test</h1>
	<hr>
	{% for post in posts %}
		<p style='font-family:serif;font-size:16pt;font-weight:bold;'>
			<form action="/test/{{post.slug}}/" method="post">
				{% csrf_token %}
				<input type="submit" value="{{post.title}}">
			</form>

				<!-- <a href='/post/{{post.slug}}'>{{post.title}}</a>-->
		</p>
	<!--	<p style='font-family:serif;font-size:16pt;letter-spacing:11pt;'>
			{{post.body}}
	</p> -->
	{% endfor %}
	<hr>
	<h3>time:{{now}}</h3>
</body>
</html>
